/* CSS Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Theme */

#dark{
  background-color: #0B122E;
  color: #f4eee0
}

/* ============================================== */
@media (max-width:600px){
    .footer{
        margin: 0;
        padding: 0;
        margin-top: 50px;
       
    }
    .container{
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
}